header {
    display: flex;
    max-height: 200px;
    background-color: brown;
    font-weight: bold;
    border: solid black 2%;
}

body {
    background-color: azure;
}

.main-nav {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #444444;
    border: solid black 8px;
}
nav ul {
    list-style: none;
}

/* nav ul li {
    margin-left: auto;
    border-style: solid;
    vertical-align: middle;
    background-color: black;

} */

nav ul li a {
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: white;
}

.Title {
    font-size: 100px;
    color: azure;
    align-self: center;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black 5px 10px;
}

.Logo {
    margin-left: 1%;
    align-self: center;
    max-width: 10%;
    max-height: 145px;
    border: solid 10px;
}

.game_section {
    justify-content: center;
    height: 500px;
    background-color: #444444;
    margin-top: 10px;
    border: solid black 15px;
}

.game_section li {
    list-style: none;
}

.question_title {
    vertical-align: top;
    text-align: center;
    
    height: 25px;
    width: 1200px;
    vertical-align: top;
    color: whitesmoke;
    text-align: center;
}
.main_button {
    height: 50px;
    width: 200px;
    text-align: center;
    justify-content: center;
    color: white;
    border: white solid 5px;
    background-color: darkgray;
}

.main_button:hover {
    background-color: gray;
}