header {
    display: flex;
    max-height: 200px;
    background-color: brown;
    font-weight: bold;
    border-style: solid;
    border-radius: 2%;
    border-color: black;
}

header .Title {
    font-size: 100px;
    color: azure;
    align-self: center;
    margin-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: black 5px 10px;
}
header .Logo {
    margin-left: 1%;
    align-self: center;
    max-width: 10%;
    max-height: 145px;
    border: solid;
    border-radius: 10px;
    border-style: solid;
}


nav {
    background-color: #444444;
    min-height: 50px;
}
nav ul {
    display: flex;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}
nav ul li {
    border-style: solid;
    margin-left: 10px;
    vertical-align:middle;
}

.game_section {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border: solid, black, 15px;
}